{% extends 'doctor_header.html' %}
{% block content %}
<html>
		<body>
			<head>
				<style type="text/css">
					
					#example {
						width: 100px;

					}
					table, td,tr, th{
						padding: 8px;
						color: white;
					}
				</style>
				
			</head>
			<br><br>
			<div class="service text-center" id="service">		
			
			<center><section class="about text-center" id="about">
				<div class="container">
				<div class="row">
				<div class="team-heading text-center">	
				<h2>Change Password</h2>
				</div>
				</div>
				</div>
				</section>
				<h3>
					{% if msg %}
					{{msg}}
					{% endif %}
				</h3>
				<font size="5px">
			<form name="change_password" method="post" action="{% url 'change_password' %}">
				{% csrf_token %}
				<table style="margin:5px;">
					<tr>
						<td>Old Password</td>
						<td><input type="password" name="old_password" class="form-control form-control-lg" required="required"></td>
					</tr>
					<tr>
						<td>New Password</td>
						<td><input type="password" name="new_password" class="form-control form-control-lg" required="required"></td>
					</tr>
					<tr>
						<td>Confirm Password</td>
						<td><input type="password" name="cnew_password" class="form-control form-control-lg" required="required"></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input style="margin-top: 30px;width: 150px; font-size: 20px;" type="submit" value="Change Password" class="btn btn-danger"></td>
					</tr>
					
				</table>

			</form>
			</font>
			</center>
			<br><br><br><br>
			</div>
			
						<!-- footer starts here -->
				<footer class="footer clearfix">
					<div class="container">
						<div class="row">
							<div class="col-xs-6 footer-para">
								<p>&copy;Rajeev Prajapati All right reserved</p>
							</div>
							<div class="col-xs-6 text-right">
									<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
									<a href="https://gmail.com/"><i class="fa fa-google"></i></a>
									<a href="https://instagram.com/"><i class="fa fa-instagram"></i></a>
								</div>
						</div>
					</div>
				</footer>
		</body>
</html>
{% endblock %}